openai
fastapi>=0.68.0
uvicorn[standard]>=0.15.0
python-dotenv
google-generativeai
pypdf
slowapi>=0.1.4
pydantic>=1.8.0
python-multipart
email-validator
slowapi
sentry_sdk

fastapi==0.109.2
uvicorn==0.27.1
pymongo==4.6.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.1
bcrypt
pydantic[email]

 pip install "passlib[bcrypt]" "python-jose[cryptography]"